.gradientheader {
    text-align:center;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, #2af598 0%, #009efd 100%);
    font-family: 'Stick', sans-serif;
    font-size: 40px;
    font-weight: 400;
    border-radius: 10pt;
    vertical-align: middle;
  }
.gradientfooter {
    text-align: right;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #2af598 0%, #009efd 100%);
    font-size: 20px;
    font-weight: 400;
    border-radius: 10pt;
    vertical-align: middle;
    font-family: 'Stick', sans-serif;
  }
* {
    margin: 10px;
    padding: 0;
  }
.minmin { font-family: "Sawarabi Mincho"; font-size: large;}
.siro {
    background-color: #F4F5F7;
    border-radius: 5pt;
}

.news-list{
    list-style: none outside;
    margin: 0;
    padding: 0;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
  }
  .news-list .item .category span{
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: #00F;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }
   
  *{
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  body{
    margin: 20px;
  }